h2 {
    color: rgb(202, 27, 27);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

#result {
    color: rgb(150, 32, 32);
    font-size: 18pt;
    font-weight: bold;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-left: 30pt;
    background-color: rgb(117, 26, 26);
    margin-bottom: 10pt;
    margin-right: 30pt;
}


#mainPart {
    background-color: white;
    height: 700px;
}

#tab {
    border-collapse: collapse;
    height: 250px;
    width: 800px;
    font-weight: 1000;
}

#centralPart{
    background-color: rgb(204, 221, 236);
    width: 830px;
    height: 550px;
}

#firstRow{
    height: 30px;
    background-color: rgb(158, 157, 157);
}

#button1 {
    color: white;
}
#button2 {
    color: white;
}
#button3{
    color: white;
    width: 90px;
}

button {
    height: 40px;
    background-color: rgb(235, 57, 57);
}


#makeBottomBlack, #makeTopBlack{
    background-color: black;
}

#showGrades {
    color: rgb(151, 32, 32);
    font-family: Arial, Helvetica, sans-serif;
}

#a11{width: 50px;}
#a12{width: 50px;}
#a13{width: 50px;}
#a21{width: 50px;}
#a22{width: 50px;}
#a23{width: 50px;}
#a31{width: 50px;}
#a32{width: 50px;}
#a33{width: 50px;}
#a41{width: 50px;}
#a42{width: 50px;}
#a43{width: 50px;}



